<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="assets/css/custom_new.min.css" rel="stylesheet">

    <link href="../javascript/video.js/video-js.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet" />
    <style>
        .vjs-control-bar {
            position: absolute !important;
            top: -60px !important;
        }
        .vjs-big-play-button {
            position: absolute !important;
            top: -30px !important;
        }
        .vjs-volume-panel, .vjs-picture-in-picture-control, .vjs-fullscreen-control {
            visibility: hidden;
        }
    </style>

</head>

<body>
    <div class="canvas-container">
        <span class="wrapper" style="top: 60px; position: relative">

            <img class="image" src="<%= annotationPngUrl %>" style="width: 880px; position: absolute; z-index: 1; max-height: none !important;"/>

            <video
                id="my-video"
                class="video-js vjs-theme-fantasy"
                controls
                preload="auto"
                width="880"
                data-setup="{}"
                muted
                preload
                autoplay
            >
                <source src="<%= rawVideoUrl %>" type="video/mp4" preload autoplay/>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                        supports HTML5 video
                    </a>
                </p>
            </video>

            <script src="../javascript/video.js/video.min.js"></script>

            <div class="positioner" style="z-index: 2;">
                <div style="padding-top: 74.9%;"> <!-- padding-top must match the aspect ratio of your image = height / width * 100% -->
                    <canvas width="1068" height="800"></canvas>
                </div>
            </div>
        </span>

        <div class="info" style="top: 60px; position: relative; width: 200px">
            <div class="vlog"></div>
            <br/>
            <div class="log" style="position: relative"></div>
        </div>

        <div class="buttons" style="top: 60px; position: relative; width: 200px">
            <button>Skip</button>
            <br/>
            <button>Confirm crop</button>
            <br/>
            <button>Confirm segmentation</button>
            <br/>
            <button>Confirm and go to next</button>
            <br>
            <br>
            <form action="/action_page.php">

                <label for="PatientId">PatientId:</label>
                <span id="PatientId">1234</span><br><br>

                <label for="AnalysisId">AnalysisId:</label>
                <span id="AnalysisId">1234</span><br><br>

                <label for="AreaCode">AreaCode:</label>
                <span id="AreaCode">1234</span><br><br>

                <label for="depth">Depth:</label>
                <input type="text" id="depth" name="depth"><br><br>

                <label for="frequency">Frequency:</label>
                <input type="text" id="frequency" name="frequency"><br><br>

                <label for="focalPoint">FocalPoint:</label>
                <input type="text" id="focalPoint" name="focalPoint"><br><br>

                <input type="submit" value="Overwrite metadata">
            </form>
        </div>
    </div>

    <script src="assets/vendors/jquery/3.4.1/jquery-3.4.1.min.js"></script>

    <script src="assets/js/mask.js"></script>
    <script type="text/javascript">
        SelectionBox($(".wrapper")[0]);
    </script>

    <script type="text/javascript">

        videojs('my-video').ready(function () {
            this.on('timeupdate', function () {
            console.log(this.currentTime());
            $(".vlog").html("currentTime:"+this.currentTime())
            })
        });

    </script>

</body>
</html>